<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="src/public/css/main.css">
    <link rel="stylesheet" href="src/public/css/colours.css">
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="lib/vue.js"></script>
    <script src="src/public/js/main.js"></script>

</head>
<body>

<div id="app" class="container">

<header>
    <div id="header">Pomodoro<span class="badge" :data-badge="pomodoroCount" v-if="pomodoroCount > 0"></span></div>
    <div id="addNewPomodoroBtn">
        <button class="btn btn-primary" title="Add new Pomodoro" @click="addNewPomodoro()"><i class="material-icons">add</i></button>
        <button class="btn btn-primary" title="Pause all Pomodoros" @click="pauseAllPomodoros()" :disabled="pomodoroCount === 0"><i class="material-icons">pause</i></button>
        <button class="btn btn-primary" title="Delete all Pomodoros" @click="deleteAllPomodoros()" :disabled="pomodoroCount === 0"><i class="material-icons">delete_forever</i></button>
    </div>
    <div id="statisticsGlobal" class="">
        <span class="text-primary">Work<span class="badge" :data-badge="workCount"></span></span>
        <span class="text-primary">Rest<span class="badge" :data-badge="restCount"></span></span>
        <span class="text-primary">Pause<span class="badge" :data-badge="pauseCount"></span></span>
        <span class="text-primary">Stop<span class="badge" :data-badge="stopCount"></span></span>
    </div>
    <div id="settingsGlobal" class="">
        <label class="form-label" for="initTimeToWork">Work time</label>
        <input type="number" id="initTimeToWork" class="initTimeToWork form-input input-sm" placeholder="work" title="time to work" v-model="initWorkTime"/>
        <label class="form-label" for="initTimeToRest">Rest time</label>
        <input type="number" id="initTimeToRest" class="initTimeToRest form-input input-sm" placeholder="rest" title="time to rest" v-model="initRestTime"/>
    </div>
</header>


<!--<template id="pomodoroInstance">-->
    <!--<div>-->
        <!--<name-and-actions-component :appname="appname" :state="state" :second="second"></name-and-actions-component>-->
        <!--<status-and-info-component :state="state"></status-and-info-component>-->
        <!--&lt;!&ndash;<counter-component :state="state" :second="second"></counter-component>&ndash;&gt;-->
    <!--</div>-->
<!--</template>-->

    <!--<name-and-actions-component></name-and-actions-component>-->
    <!--<status-and-info-component></status-and-info-component>-->
    <!--<counter-component></counter-component>-->

<div id="pomodoroInstances">
        <pomodoro-instance-component
                v-for="(pomodoro, index) in pomodoroComponents" :key="pomodoro"
                @delete-pomodoro="deletePomodoro"
                :pomodoro-data="pomodoro"

                :init-work-time="initWorkTime"
                :init-rest-time="initRestTime"

                :pomodoros-count="pomodoroCount"

                :work-count.sync="workCount"
                :rest-count.sync="restCount"
                :pause-count.sync="pauseCount"
                :stop-count.sync="stopCount"

        ></pomodoro-instance-component>
</div>


<div class="empty messageCenter" v-if="pomodoroCount === 0">
    <div class="empty-icon">
        <i class="icon icon-people"></i>
    </div>
    <p class="empty-title h5">There is no Pomodoro</p>
    <p class="empty-subtitle">Click the button to add one</p>
    <div class="empty-action">
        <button class="btn btn-primary" title="Add new Pomodoro" @click="addNewPomodoro()"><i class="material-icons">add</i></button>
    </div>
</div>

</div>


<footer></footer>

<script src="src/app.js"></script>

</body>
</html>
