/**/

/*ORYGINAL ----------------------------------------------------------------------------*/
/*font*/
.pomodoroName.colour-my-0 {
    color: #3634d2;
}
/*button*/
.btn.colour-my-0 {
    background: #5755d9;
    border-color: #4b48d6;
    color: #fff;
}
.btn.colour-my-0:focus,
.btn.colour-my-0:hover {
    background: #4240d4;
    border-color: #3634d2;
    color: #fff;
}
.btn.colour-my-0:active,
.btn.colour-my-0.active {
    background: #3a38d2;
    border-color: #302ecd;
    color: #fff;
}
.btn.colour-my-0.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
}
/*label*/
.label.colour-my-0 {
    background: #5755d9;
    color: #fff;
}
/*bar*/
.toast.colour-my-0 {
    background: rgba(87, 85, 217, .9);
    border-color: #5755d9;
}
/*progress*/
.bar.bar-item.colour-my-0 {
    background: #5755d9;
}



/*COLOUR_1 ----------------------------------------------------------------------------*/
/*font*/
.pomodoroName.colour-my-1 {
    color: #32b643;
}
/*button*/
.btn.colour-my-1 {
    background: #32b643;
    border-color: #2faa3f;
    color: #fff;
}
.btn.colour-my-1:focus {
    box-shadow: 0 0 0 .1rem rgba(50, 182, 67, .2);
}
.btn.colour-my-1:focus,
.btn.colour-my-1:hover {
    background: #30ae40;
    border-color: #2da23c;
    color: #fff;
}
.btn.colour-my-1:active,
.btn.colour-my-1.active {
    background: #2a9a39;
    border-color: #278e34;
    color: #fff;
}
.btn.colour-my-1.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
}
/*label*/
.label.colour-my-1 {
    background: #32b643;
    color: #fff;
}
/*bar*/
.toast.colour-my-1 {
    background: rgba(50, 182, 67, .9);
    border-color: #32b643;
}
/*progress*/
.bar.bar-item.colour-my-1 {
    background: #32b643;
}


/*COLOUR_2 ----------------------------------------------------------------------------*/
/*font*/
.pomodoroName.colour-my-2 {
    color: #ffb700;
}
/*button*/
.btn.colour-my-2 {
    background: #ffb700;
    border-color: #ffb700;
    color: #fff;
}
.btn.colour-my-2:focus,
.btn.colour-my-2:hover {
    background: #fbb400;
    border-color: #ffb700;
    color: #fff;
}
.btn.colour-my-2:active,
.btn.colour-my-2.active {
    background: #f2ae00;
    border-color: #ffb700;
    color: #fff;
}
.btn.colour-my-2.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
}
/*label*/
.label.colour-my-2 {
    background: #ffb700;
    color: #fff;
}
/*bar*/
.toast.colour-my-2 {
    background: rgba(255, 183, 0, .9);
    border-color: #ffb700;
}
/*progress*/
.bar.bar-item.colour-my-2 {
    background: #ffb700;
}


/*COLOUR_3 ----------------------------------------------------------------------------*/
/*font*/
.pomodoroName.colour-my-3 {
    color: #e85600;
}
/*button*/
.btn.colour-my-3 {
    background: #e85600;
    border-color: #d95000;
    color: #fff;
}
.btn.colour-my-3:focus,
.btn.colour-my-3:hover {
    background: #de5200;
    border-color: #cf4d00;
    color: #fff;
}
.btn.colour-my-3:active,
.btn.colour-my-3.active {
    background: #c44900;
    border-color: #b54300;
    color: #fff;
}
.btn.colour-my-3.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
}
/*label*/
.label.colour-my-3 {
    background: #e85600;
    color: #fff;
}
/*bar*/
.toast.colour-my-3 {
    background: rgba(232, 86, 0, .9);
    border-color: #e85600;
}
/*progress*/
.bar.bar-item.colour-my-3 {
    background: #e85600;
}


/*COLOUR_4 ----------------------------------------------------------------------------*/
/*font*/
.pomodoroName.colour-my-4 {
    color: #3634d2;
}
/*button*/
.btn.colour-my-4 {
    background: #5755d9;
    border-color: #4b48d6;
    color: #fff;
}
.btn.colour-my-4:focus,
.btn.colour-my-4:hover {
    background: #4240d4;
    border-color: #3634d2;
    color: #fff;
}
.btn.colour-my-4:active,
.btn.colour-my-4.active {
    background: #3a38d2;
    border-color: #302ecd;
    color: #fff;
}
.btn.colour-my-4.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
}
/*label*/
.label.colour-my-4 {
    background: #5755d9;
    color: #fff;
}
/*bar*/
.toast.colour-my-4 {
    background: rgba(87, 85, 217, .9);
    border-color: #5755d9;
}
/*progress*/
.bar.bar-item.colour-my-4 {
    background: #5755d9;
}

