body {
    user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;
}

header {
    padding: -5px 5px 0 5px;
    border-bottom: 2px solid crimson;
    margin-bottom: 25px;
    display: flex;
}

#header {
    font-size: xx-large;
    font-weight: bold;
    color: crimson;
    margin-right: 10px;
}


.messageCenter {

}




#addNewPomodoroBtn {
    position: absolute;
    margin: 8px 50px 0 200px;
}

#settingsGlobal {
    position: absolute;
    margin: 8px 50px 0 700px;
    display: flex;
}
#settingsGlobal input {
    margin: 10px 20px 0 5px;
}
#settingsGlobal label {
    vertical-align: middle;
}
#statisticsGlobal {
    position: absolute;
    margin: 17px 50px 0 380px;
    display: flex;
}
#statisticsGlobal span {
    margin-right: 8px;
}


#pomodoroInstances {
    display: flex;
    flex-wrap: wrap;
}

.pomodoroInstance {
    width: 346px;
    margin: 5px 10px 30px 10px;
}

.pomodoroNameAndActions {
    position: relative;
    height: 40px;
}

.pomodoroName {
    width: 200px;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    cursor: text;
    left: 0;
    position: absolute;
}
.pomodoroNameInput {
    width: 200px;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    left: 0;
    position: absolute;
}

.pomodoroActions {
    right: 0;
    position: absolute;
}

.pomodoroStateAndTools {
    position: relative;
    height: 30px;
}

.stateName {
    width: 100px;
    height: 28px;
    left: 0;
    position: absolute;
}

.pomodoroTools {
    right: 0;
    position: absolute;
}


.initTimeToWork, .initTimeToRest {
    width: 50px;
}
